/* reset the style first */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q,
samp, small, strong, sub, sup, svg, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, menu, nav, section, time,
mark, audio, video {
    /*margin: 0;*/
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


body {
    position:absolute;
    width:100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: -2px;
    margin: .3em 0 .1em 0;
}

h2 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    letter-spacing: -1px;
}

.instructs ul{
    padding-top: 10px;
    padding-right: 5px;
    list-style-type: none;
}

.instructs ul li {
    margin-top:10px
}

#intro h2 {
    margin-bottom: 10px
}

#intro{
    width: 800px;
    height: 670px;
    display: block;
    margin: auto;
    background: lightgray;
    font-size: 18px;
    font-weight: 200;
}

#intro-img{
    display:block;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:500px;
}

#orient{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#orient-interface{
    width: 800px;
    height: 670px;
    position: absolute;
    top: 10px;
    left: 100px;
}

#symbol-set-svg{
width: 100%;
height: 100%;

}

#symbol-set{
    width: 800px;
    height: 80px;
    margin: 40px auto auto 130px;
    background: white;
}

#orient-instructs{
    display: block;
    width: 800px;
    height: 200px;
    background: lightgray;
    font-size: 18px;
    font-weight: 200;
    margin-top:20px;
    margin-bottom:40px;
}

#start{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#task-interface{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

#tasknav {
    position:absolute;
    top: 126px;
    width:750px;
    height:553px;
    /*margin: 150px auto auto 100px;*/
}

.stimulus{
    width:40px;
    height:40px;
    position: absolute;
    top:0
}

#stimulusB{
    top:245px;
    left:271px;
}
#r0{
    position:absolute;
    top:300px;
    left:284px;
    color: lightgray;
}
#r0label{
    position: absolute;
    top:282px;
    left:285px;
    color:#c3c3c3;
    font-size: 18px;
    text-shadow: -1px -1px  rgba(0, 0, 0, 0.6);
    /*box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.5);*/
    /*background-color: rgba(255, 255, 255, 0.1);*/
    /*border-radius: 3px;*/
}

#stimulusA{
    top: 116px; /* 100*sqrt(3)*100 */
    left:346px;

}
#alabel{
    position: absolute;
    top:100px;
    left:327px;
    color: #c3c3c3;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: 200;*/
    font-size: 18px;
    text-shadow: -1px -1px  rgba(0, 0, 0, 0.6);
    /*background-color: rgba(255, 255, 255, 0.1);*/
    /*border-radius: 3px;*/
}

#stimulusC{
    top:245px;
    left:421px;
}

#r1{
    position:absolute;
    top:300px;
    left:435px;
    color: lightgray;
}

#r1label{
    position: absolute;
    top:282px;
    left:436px;
    color: #c3c3c3;
    font-size: 18px;
    text-shadow: -1px -1px  rgba(0, 0, 0, 0.6);
    /*box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.5);*/
    /*background-color: rgba(255, 255, 255, 0.1);*/
    /*border-radius: 3px;*/
}

#rating{
    width:50px;
    height:50px;
    position:absolute;
    top:90px;
    left:136px;
}

.text-int{
    font-size:20px;
}

#choice{
    width:200px;
    height:200px;
    position:absolute;
    top: 140px;
    left:122px;
    font-size:13px;
    color: gray;
}
#choice input{
    margin-top:-5px;
}
#textband{
    position: absolute;
    width:100%;
    height:125px;
    background: lightgray;
    /*background: #dedede;*/
/*dedede*/
}

#question{
    position: absolute;
    top:10px;
    left: 100px;
    width: 500px;
    font-size: 18px;
    font-weight: 200;
    color: #5a5a5a;
}
#task-instructs{
    position: absolute;
    top: 34px;
    left: 50px;
    width: 500px;
    font-size: 14px;
    font-weight: 200;
    color: gray;
}
#training-label{
   color:#eee;
}

#key-help{
    position: absolute;
    top:34px;
    left: 550px;
    width: 350px;
    font-size: 12px;
    font-weight: 200;
    color: gray;
}

#key-help ul{
    list-style-type: none;
}
#task-instructs ul{
    list-style-type: none;
}

#next{
    position: absolute;
    left: 751px;
    top: 200px;
}

#completion-instructs{
    width: 400px;
    height: 110px;
    position: absolute;
    left: 100px;
    top: 170px;
    background: lightgray;
    font-size: 18px;
    font-weight: 300;
    color: rgb(0, 0, 0);
    border-radius: 4px;
}

#completion-instructs p{
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    width: 90%;
    vertical-align: middle;
}

#progressbar {
    position: absolute;
    left: 850px;
    top: 336px;
    width: 150px;
    background-color: lightgray;
    border-radius: 2px;
    padding:2px;
}

#progress {
    background-color: #e8e8e8;
    width: 40%;
    height: 4px;
    border-radius: 1px;
}


#comment-box {
    width: 350px;
    height: 100px;
    position: absolute;
    left: 550px;
    top: 170px;
    color: lightgray;
    resize: none;
}

#submit-button {
    position: absolute;
    left: 690px;
    top: 300px;
}

