/* reset the style first */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q,
samp, small, strong, sub, sup, svg, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, menu, nav, section, time,
mark, audio, video {
    /*margin: 0;*/
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#intro{
    width: 850px;
    height: 670px;
    display: block;
    margin: auto;
    background: lightgray;
    font-size: 16px;
    font-weight: 200;
}

#reminder-rescale ul{
    list-style-type: none;
    margin:0;
}

#reminder-rescale ul li{
}

#intro-img{
    display:block;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:500px;
}

#start-training{
    display:block;
    margin-left:auto;
    margin-right:auto;
}


#orient-interface{
    width: 800px;
    height: 670px;
    position: absolute;
    top: 10px;
    left: 100px;
}

#symbol-set-svg {
    width: 100%;
    height: 100%;
}

#symbol-set{
    width: 800px;
    height: 80px;
    background: white;
    margin: 40px auto auto 130px;
}


#start-testing{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#orient-instructs{
    display: block;
    width: 800px;
    height: 200px;
    background: lightgray;
    font-size: 18px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 40px;
}


.instructs ul{
    padding-top: 10px;
    padding-right: 5px;
    list-style-type: none;
}

.instructs ul li {
    margin-top:10px
}



#task-interface{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

#tasknav {
    position:absolute;
    top: 126px;
    width:750px;
    height:553px;
}

#rating-interface{
    position:absolute;
    width: 100%;
    height:100%;
}


.stimulus{
    width:40px;
    height:40px;
    position: absolute;
    top:0
}


#stim0 {
    top: 116px; /* 100*sqrt(3)*100 */
    left: 346px;
}


#stim0-a{
    position: absolute;
    top:153px;
    left:360px;
    padding-left:33px;
    color:#c3c3c3;
    font-size: 18px;
    text-shadow: -1px -1px  rgba(0, 0, 0, 0.6);
}
#stim0-b{
    position: absolute;
    top:282px;
    left:285px;
    padding-left:33px;
    color:#c3c3c3;
    font-size: 18px;
    text-shadow: -1px -1px  rgba(0, 0, 0, 0.6);
}

#stim1{
    top:245px;
    left:271px
}

#stim1-a{
    top:245px;
    left:271px
}

#stim1-a{
    position: absolute;
    top:282px;
    left:285px;
    color:#c3c3c3;
    font-size: 18px;
    text-shadow: -1px -1px  rgba(0, 0, 0, 0.6);
}
#stim1-b{
    position: absolute;
    top:282px;
    left:285px;

    color:#c3c3c3;
    font-size: 18px;
    text-shadow: -1px -1px  rgba(0, 0, 0, 0.6);
}

#stim2{
    top:245px;
    left:421px;
}

#stim2-a{
    position: absolute;
    top:282px;
    left:436px;
    color: #c3c3c3;
    font-size: 18px;
    text-shadow: -1px -1px  rgba(0, 0, 0, 0.6);
}

#stim2-b{
    position: absolute;
    top:282px;
    left:436px;
    color: #c3c3c3;
    font-size: 18px;
    text-shadow: -1px -1px  rgba(0, 0, 0, 0.6);
}

#rating{
    width:50px;
    height:50px;
    position:absolute;
    top:90px;
    left:777px;
    color: #bbbbbb;
}

.text-int{
    font-size:18px;
}

#choice{
    width:200px;
    height:200px;
    position:absolute;
    top: 140px;
    left:775px;
    font-size:13px;
    color: gray;
}
#choice input{
    /*position: absolute;*/
    margin-top:-5px;
    /*left: 1px;*/
}


#textband{
    position: absolute;
    width:100%;
    height:125px;
    background: lightgray;
}


#question{
    margin: 0;
    width: 500px;
    font-size: 16px;
    font-weight: 200;
    color: #5a5a5a;
}
#task-instructs{
    position: absolute;
    left: 10px;
    width: 650px;
    font-size: 12px;
    font-weight: 200;
    color: gray;
}


#training-label{
padding-top:10px;
color:lightgray;
}

#key-help{
    position: absolute;
    top:20px;
    left: 675px;
    width: 320px;
    font-size: 12px;
    font-weight: 200;
    color: gray;
}

#textband ul{
    list-style-type: none;
    margin:0;
}
#textband ul li{
    margin-top:-1px;
    margin-left:5px;
}

#next{
    position:absolute;
    left:900px;
    top:200px;
}

#progressbar {
    position: absolute;
    left: 975px;
    top: 336px;
    width: 120px;
    background-color: lightgray;
    border-radius: 2px;
    padding:2px;
}

#progress {
    background-color: #e8e8e8;
    width: 40%;
    height: 4px;
    border-radius: 1px;
}

#matrix-area{
    clear:both;
    width:460px;
    height:460px;
    position:absolute;
    left:450px;
    top:100px;
}

#matrix-title{
    width:600px;
    height:50px;
    position:absolute;
    left:50px
}
#matrix-collabels{
    width:600px;
    height:50px;
    position:absolute;
    left:50px;
    top:60px
}
#matrix-rowlabels{
    position:absolute;
    top:100px;
    left:10px;
    height:500px;
    width:50px
}
#matrix{
    position:absolute;
    left:50px;
    width:360px;
    height:360px;
    top:100px
}

.cell{
    fill:none;
    stroke:lightgray;
    shape-rendering:crisp-edges
}

.celltext {
    font-size:14px;
    fill:white;
    /*visibility:hidden;*/
    cursor:default
}

body {
    /*font-family: "Helvetica Neue", Helvetica, sans-serif;*/
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: -2px;
    margin: .3em 0 .1em 0;
}

h2 {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    letter-spacing: -1px;
}

#intro ul{
    list-style-type: none;
}
#intro ul li {
    margin-top:5px
}
#intro h2 {
    margin-bottom: 20px
}

#reminder-rescale {
    font-size: 14px;
    font-weight: 300;
    color: black;
    background: lightgray;
    margin-top: 115px;
    width: 440px;
    border-radius: 4px;
}

#reminder-rescale ul{
    line-height: 1.5;
}

#comment-box {
    width: 400px;
    height: 100px;
    position: absolute;
    left: 500px;
    top: 300px;
    color: lightgray;
    resize: none;
}
#done-button{
    position: absolute;
    left: 615px;
    top: 550px;
}

#submit-button {
    position:absolute;
    left:660px;
    top:440px;
}


#completion-instructs{
    width: 400px;
    height: 110px;
    position: absolute;
    left: 50px;
    top: 300px;
    background: lightgray;
    font-size: 16px;
    font-weight: 300;
    color: black;
    border-radius: 4px;
}


#completion-instructs p{
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    width: 90%;
}


